[submodule "engine/source/3rdparty/glfw"]
	path = engine/source/3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/source/3rdparty/imgui"]
	path = engine/source/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/source/3rdparty/json"]
	path = engine/source/3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "engine/source/3rdparty/spdlog"]
	path = engine/source/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git

[submodule "engine/source/3rdparty/tracy"]
	path = engine/source/3rdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "engine/source/3rdparty/capstone"]
	path = engine/source/3rdparty/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "engine/source/3rdparty/entt"]
	path = engine/source/3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "engine/source/3rdparty/stb"]
	path = engine/source/3rdparty/stb
	url = https://github.com/nothings/stb.git
